# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=se --xlayouts='se'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=link --ipv6=auto --activate
network  --bootproto=static --ip=192.0.2.1 --netmask=255.255.255.0 --device=enp2s0 --ipv6=auto --activate
network  --bootproto=static --ip=198.51.100.1 --netmask=255.255.255.0 --device=enp3s0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$y59GjA35$gRHdJncLnRbdHLxpr6lL1i7wgHN5yRasL..3jQPSOmTjUCAKHpU6FyHKjtpclMHk//8JR.gP8kNeo8XFLgbVr1
# System services
services --enabled="chronyd"
# System timezone
timezone Etc/UTC --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel

%packages
@^minimal-environment
@core
chrony
kexec-tools
dnsmasq

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Reboot after installation
reboot

%post --interpreter=/usr/bin/bash
echo "ZONE=external" >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "dhcp-range=198.51.100.100,198.51.100.199" >> /etc/dnsmasq.d/dhcp.conf
echo "dhcp-option=option:router,198.51.100.1" >> /etc/dnsmasq.d/dhcp.conf
firewall-offline-cmd --add-service=dhcp

echo "server=/lab.local/192.0.2.11" >> /etc/dnsmasq.d/dns-lab.local.conf
firewall-offline-cmd --add-service=dns

systemctl enable dnsmasq.service

cat << EOF > /etc/firewalld/direct.xml
<?xml version="1.0" encoding="utf-8"?>
<direct>
  <rule priority="0" table="filter" ipv="ipv4" chain="FWDO_public_allow">-j ACCEPT</rule>
</direct>
EOF
%end
